@import url("https://fonts.googleapis.com/css2?family=KoHo&display=swap");
:root {
  --color-primary: #1a1a1d;
  --color-red: #c3073f;
  --color-text: white;
}
* {
  margin: 0;
}
.navbar-items {
  display: flex;
  background: var(--color-primary);
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  height: 70px;
}
.navbar-logo {
  margin-left: 1.5rem;
  justify-self: center;
  color: var(--color-text);
  font-size: 1.7rem;
  font-family: "KoHo", sans-serif;
}

.navbar-logo > img {
  width: 60px;
}
.navbar-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 15px;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}
.navbar-links {
  text-decoration: none;
  color: var(--color-text);
  padding: 0.3rem 1rem;
}
.navbar-links:hover {
  color: var(--color-text);
  text-decoration: none;
  background: var(--color-red);
  border-radius: 5px;
}
.navbar-link {
  text-decoration: none;
  color: var(--color-text);
  padding-left: 5rem;
}
.navbar-link:hover {
  text-decoration: none;
  color: white;
}

.fa-user-circle {
  margin-right: 10px;
}

.menu-icon {
  display: none;
  color: var(--color-red);
}

@media screen and (max-width: 768px) {
  .navbar-items {
    position: relative;
  }
  .navbar-menu {
    display: none;
    justify-content: center;
    width: 100%;
    top: 60px;
    position: absolute;
    right: -100%;
    transition: all 0.5s ease;
  }
  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    background: var(--color-red);
    top: 60px;
    width: 100%;
    right: -2rem;
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 1;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 20%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5%, 30%);
  }
  .navbar-logo > img {
    width: 50px;
    transform: translate(15%, -10%);
  }
  .navbar-links {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    left: 0;
    width: 100%;
    display: table;
  }
  .navbar-links:hover {
    background: var(--color-primary);
    color: var(--color-text);
    border-radius: 0;
  }
  .navbar-link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    left: 0;
    width: 100%;
    display: table;
  }
  .navbar-link:hover {
    background: var(--color-primary);
    color: var(--color-text);
    border-radius: 0;
  }
}
